<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read DHT11</title>
</head>
<body>
    <h1>DHT11 READ</h1>

    <button onclick="connectSerial()">Connect</button>
    <button onclick="disconnectSerial()">Disconnect</button>

    <h2>Nhiet do va do am</h2>
    <div id="dht11Data">No data</div>
    <script src="/javascripts/dht11_fun.js"></script>
</body>
</html>