<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to DHT11</p>
    <p>DHT11 chao ban nhe. HE HE HE</p>
  </body>
</html>
